@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 4%;
    box-shadow: 0 12px 7px -5px #a09494;
    padding: 10px;
}

.header--title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}

.header--menu {
    display: flex;
    align-items: center;
    padding-right: 10px;
    margin-left: auto;
}

canvas {
    box-shadow: 6px 9px 9px -10px #a09494;
    border: 1px solid #c5c4c499;
    color: #c5c2c2;
    background: #ffff;
}

.whiteboard {
    display: flex;
    height: 93%;
    background: #e0e0dc1c;
}

.whiteboard--tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 30%;
}

.whiteboard--tools--main {
    flex-basis: 30%;
    width: 216px;
    border: 1px solid #c5c4c499;
    box-shadow: 6px 9px 9px -10px #a09494;
    background: #ffff;
}

.whiteboard--tools--main button {
    display: flex;
    height: 63px;
    width: 100%;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    color: #908d8d;
    border: 0;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.whiteboard--tools--main button span{
    margin-right: auto;
}

.whiteboard--tools--main button:hover {
    border-top: 1px solid #8080804f;
    border-bottom: 1px solid #8080804f;
}

.whiteboard--tools--main button img {
    margin-right: 25px;
}

.whiteboard--tools--color {
    flex-basis: 30%;
    width: 216px;
    border: 1px solid #c5c4c499;
    box-shadow: 6px 9px 9px -10px #a09494;
    background: #ffff;
}

.whiteboard--tools--color  button {
    display: flex;
    align-items: center;
    height: 63px;
    width: 100%;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #908d8d;
    background-color: white;
    border: 0;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.whiteboard--tools--color button:hover {
    border-top: 1px solid #8080804f;
    border-bottom: 1px solid #8080804f;
}

.circle {
    width: 24px;
    height: 24px;
    border-radius: 50px 50px 50px 50px;
    margin-right: 25px;
}

.current-color--circle {
    background-color:gray;
}

.prev-color--circle {
    background-color:rgb(128, 128, 128);
}

.red-color--circle {
    background-color:#ff0000;
}

.blue-color--circle {
    background-color:#0000ff;
}

.menu-separater {
    height:1px;
    width: 100%;
    background-color: #80808030;
}

.whiteboard--work-place {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.whiteboard--changer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 30%;
}

.whiteboard--changer--swither {
    border: 1px solid #c5c4c499;
    width: 216px;
    box-shadow: 6px 9px 9px -10px #a09494;
    background: #ffff;
}

.whiteboard--changer--swither div {
    display: flex;
    align-items: center;
    height: 63px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    background: #ffff;
    color: #908d8d;
}

.whiteboard--changer--swither > div:hover {
    border-top: 1px solid #8080804f;
    border-bottom: 1px solid #8080804f;
}

.whiteboard--changer--swither div input {
    margin-right: 10px;
}

.selected-button {
    color: #0000ff !important;
}